@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

*::before,
*::after {
    box-sizing: inherit;
}


html,
body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    color: #000;
    background: #fafafa;
    font-family: "Inter", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.45em;
    min-width: 320px;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
hr {
    padding: 0;
    margin: 0;
}

ul,
ol {
    padding: 10px 0 10px 40px;
}

:is(ol, ul) :is(ol, ul) {
    padding: 0 0 0 16px;
}

ol {
    list-style: none;
    counter-reset: li;
}

li:before {
    counter-increment: li;
    content: counters(li, ".") ". ";
}

h2 {
    font-size: 20px;
    font-weight: 800;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #ef5018;
    outline: none;
}

a:hover {
    opacity: 0.5;
    transition: 0.3s, ease-in-out, linear;
    cursor: pointer;
}

nav h3,
article h3 {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
}

article h4 {
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
}

nav a,
article a {
    text-decoration-line: underline;
}

article video {
    height: auto;
    width: 100%;
}

p {
    margin: 0.5rem 0;
}

code {
    font-size: 14px;
}

:root {
    --main-bg-color: #fafafa;
    --header-bg-color: #0a0a0a;
    --header-text-color: #ffffff;
    --text-color: #000000;
    --gray-color: #808080;
    --page-max-width: 1024px;
    --accent-color: #EF5018;
    --footer-bg-color: #161616;
    --gap-size: 1.421rem;
    --card-bg-color: #EFEFEF;
}

/* Header */

.page-header {
    background: #0a0a0a;
    padding: 0 20px;
    width: 100%;
}

.header-wrapper {
    margin-inline: auto;
    min-height: 60px;
    display: flex;
    justify-content: start;
    justify-items: center;
    align-items: center;
    gap: 3em;
    max-width: 1024px;
    width: 100%;
}

@media (max-width: 450px) {
    .header-wrapper {
        flex-direction: column;
        justify-content: space-around;
        gap: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    cursor: pointer;
}

.logoImage {
    width: 57px;
    height: 40px;
}

.header-title {
    font-size: 20px;
    font-weight: 800;
    color: #fff;
}

@media (max-width: 768px) {
    .header-title {
        font-size: 1em;
        text-align: center;
    }
}

.header-slogan {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 500;
    color: #808080;
}

@media (max-width: 768px) {
    .header-slogan {
        font-size: 12px;
    }
}

/* Main content */

.main-content {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 320px;
    grid-auto-rows: max-content;
    gap: var(--gap-size);

    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;

    min-height: 90vh;
    max-width: 1024px;
}

@media (max-width: 768px) {
    .main-content {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
    }
}

/* Instructions */

.instructions {
    display: grid;
    grid-auto-rows: max-content;
    gap: var(--gap-size);
}

/* Installation */

.installation {
    display: grid;
    grid-auto-rows: max-content;
    gap: var(--gap-size);

    max-width: 320px;
}

.installation__label {
    padding-bottom: 8px;

    font-size: 16px;
    font-weight: 600;
    color: var(--accent-color);
}

.installation__select {
    display: block;
    position: relative;

    border: 3px solid var(--text-color);
    border-radius: 7px;
    padding: 9px 28px 9px 10px;

    width: 100%;

    font-size: 16px;
    font-weight: 600;
    appearance: none;
    cursor: pointer;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='10' viewBox='0 0 20 10' fill='black'%3E%3Cpath d='M10 10L20 0H0L10 10Z'/%3E%3C/svg%3E%0A");
    background-position: right 8px center;
    background-size: 12px 6px;
    background-repeat: no-repeat;
}

.installation__select:disabled {
    background-color: rgba(0, 0, 0, 0.2);
    background-image: none;
    color: var(--text-color);
    cursor: default;
}

@keyframes skeleton {
    0% {
        background-position: -100px;
    }

    100% {
        background-position: calc(100% + 100px);
    }
}

.installation__select.loading {
    background-image: linear-gradient(100deg, transparent 0px, white 40px, transparent 80px);
    background-size: 100px 100%;
    background-position: center center;
    animation: skeleton 1s infinite linear
}

.installation__link {
    display: block;
    position: relative;

    padding: 9px 10px;
    border: solid 3px var(--text-color);
    border-radius: 7px;

    font-size: 16px;
    font-weight: 600;
    color: var(--accent-color);
    text-align: center;
}

.installation__link:hover {
    opacity: 1;

    background-color: var(--text-color);
}

.installation__link.disabled {
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--text-color);

    cursor: default;
}

.installation__link:not([href]):not(.disabled),
.installation__link[href=""]:not(.disabled) {
    font-size: 0px;

    background-color: transparent;

    cursor: default;
}

.installation__link:not([href]):not(.disabled)::after,
.installation__link[href=""]:not(.disabled)::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 3px solid var(--accent-color);
    border-color: var(--accent-color) var(--accent-color) var(--accent-color) transparent;
    animation: spinner 0.5s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.installation__error {
    color: #ce2029;
    font-weight: 600;
}

.installation__error.hidden {
    display: none;
}

.installation__qr-wrapper {
    display: block;
    padding: 16px;

    background-color: var(--card-bg-color);
    border-radius: 7px;

    overflow: hidden;
}

.installation__qr-wrapper.disabled {
    display: none;
}

.installation__qr {
    display: block;
    width: 100%;
}

/* Utilities */

.code-scroll-box {
    margin: 1rem 0 1rem;
    display: block;
    background: #efefef;
    width: 100%;
    max-width: 1024px;
    white-space: pre-line;
    font-size: 14px;
    line-height: 1.55;
    padding: 1rem 2.5rem 1rem 1rem;
    border-radius: 12px;
    overflow-x: scroll;
}

.white-text {
    color: #fff;
}

.main__links {
    font-size: 16px;
    font-weight: 600;
    color: #ef5018;
}

/* Footer */

.page-footer {
    bottom: 0;
    margin-top: 1em;
    background: #000;
    box-sizing: border-box;
    min-height: 60px;
    padding: 12px 24px;
    width: 100%;
    text-align: match-parent;
}

.footer-wrapper {
    margin-inline: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    max-width: 1024px;
    width: 100%;
}

.footer-content {
    height: auto;
    color: #fff;
    display: contents;
    flex-direction: column;
    align-items: normal;
    justify-content: left;
    margin-inline: auto;
}
